.tippy-box[data-theme~='transparent'] {
    background-color: transparent;
}

.tippy-box[data-theme~='retro'] {
    background-color: white;
}

.tippy-content[data-theme~='retro'] {
    padding: 2px 2px;
}

.tippy-box[data-theme~='dark'] {
    background-color: #222;
}

.tippy-box[data-theme~='default'] {
    background-color: #D1D1D1;
}